.gif img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gifs {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
    margin: 0 auto;
}

.mat-card-image {
    margin: 0 15px 16px 15px;
}

.mat-card {
    position: relative;
    max-width: 260px;
    max-height: 280px;
}

.footer {
    position: absolute;
    bottom: 0;
}

.mat-card-actions{
    padding: 0;
}